.App {
  text-align: center;
  margin: 0;
  padding: 0rem ;

}

.home-main{
  background-color: rgb(206, 206, 198);
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto auto auto;
  place-items: center;
  padding: 6rem;
}



