.profile-page {
    /* border: 0;
    padding: 0;
    box-sizing: border-box; */

    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    padding: 1rem;
    align-items: center;
    /* height: 86vh; */
    border: 1px solid black;
}
.avatar {
    width: 300px;
}
.user-info {
  /* color: red; */
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  /* align-content: center; */
}
